/* Add your color variables here */
:root {
    --primary-color: #4abdac; /* Teal color from the logo */
    --secondary-color: #fc4a1a; /* Dark blue color from the logo */
    --accent-color: #f7b733; /* Green color from the logo */
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #fff;
}

header {
    background: linear-gradient(to right, var(--primary-color), var(--secondary-color));
    padding: 1em;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-left: 20px;
}

nav a {
    text-decoration: none;
    color: white;
}

#hero {
    background: linear-gradient(to bottom, var(--primary-color) 0%, var(--accent-color) 100%);
    text-align: center;
    padding: 50px 20px;
    color: white;
}

#hero h1 {
    margin: 0;
}

button {
    background: var(--secondary-color);
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
}

footer {
    background-color: var(--secondary-color);
    color: white;
    text-align: center;
    padding: 10px 0;
}
