/* Add your color variables here */
:root {
    --primary-color: #4abdac; /* Teal color from the logo */
    --secondary-color: #305f72; /* A darker shade for contrast */
    --accent-color: #f7b733; /* Green color from the logo */
    --light-bg-color: #e8f8f5; /* A light background for sections */
    --font-primary: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; /* Primary font */
    --font-headings: 'Georgia', serif; /* Font for headings */
}

body {
    font-family: var(--font-primary);
    margin: 0;
    padding: 0;
    background-color: var(--light-bg-color);
    color: var(--secondary-color);
}

header {
    background: linear-gradient(135deg, var(--primary-color) 0%, var(--secondary-color) 100%);
    color: white;
    padding: 1em 0;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
}

#logo img {
    height: 60px; /* Adjust as necessary */
    width: auto; /* This will keep the aspect ratio intact */
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-left: 20px;
}

nav a {
    text-decoration: none;
    color: white;
    font-size: 1.1em;
    font-weight: bold;
}

#hero {
    background-image: linear-gradient(135deg, var(--primary-color) 0%, var(--accent-color) 100%), url('path-to-background-image.jpg');
    background-size: cover;
    background-position: center;
    text-align: center;
    padding: 100px 20px;
    color: white;
}

#hero h1 {
    margin: 0;
    font-family: var(--font-headings);
    font-size: 3em;
    margin-bottom: 0.5em;
}

#hero p {
    font-size: 1.5em;
    margin-bottom: 1em;
}

button {
    background: var(--accent-color);
    color: white;
    border: none;
    padding: 15px 30px;
    cursor: pointer;
    font-size: 1em;
    font-weight: bold;
    border-radius: 25px; /* This will create rounded corners on the button */
    transition: background-color 0.3s ease;
}

button:hover {
    background: var(--primary-color);
}

main {
    width: 90%;
    max-width: 1200px;
    margin: 2em auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

footer {
    background-color: var(--secondary-color);
    color: white;
    text-align: center;
    padding: 10px 0;
    margin-top: 2em;
}

footer p {
    margin: 0;
}
